.place__text {
    grid-area: place__text;
    display: flex;
    flex-direction: column;
    align-self: start;
    margin: 0;
    padding-bottom: 26px;
}

.place__text:last-child {
    padding-bottom: 0;
}

@media screen and (max-width:768px) {
    .place__text {
        padding-bottom: 25px;
    }
}

@media screen and (max-width:320px) {
    .place__text {
        padding: 0 16px 25px;
    }
}