.place__link {
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: #fff;
    transition: .3s ease-in;
}

.place__link:hover {
    opacity: .7;
}