.cover__title {
    text-align: center;
    max-width: 560px;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    z-index: 1;
    margin: 0;
}

@media screen and (max-width:550px) {
    .cover__title {
        max-width: 288px;
        line-height: 35px;
        font-size: 32px;
    }
}